
Atom/
BetterDiscord/
BraveSoftware/
Code/
Microsoft/
Musixmatch/
Tusk/
Xresources.save
archey3.cfg
autostart/
bspwm/
cef_user_data/
coc/
com.github.johnfactotum.Foliate/
configstore/
dconf/
discord/
discordcanary/
files
htop/
i3/
i3blocks/
lf/
libreoffice/
lutris/
mopidy/
ncmpcpp/
neofetch/
newsboat/
pavucontrol.ini
polybar/
spicetify/
spotify-tui/
spotify/
sxhkd/
teams/
user-dirs.dirs
wal/
wget/
